body {
    font-size:18px;
}

h1 {
    font-size:1em;
    color:cadetblue;
    text-align: center;
    background-color: #D3D3D3;
    border:0.3em solid #a1231a;
}

h2 {
    font-size:3em;
    color:red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type:decimal-leading-zero;
}




.button {
    background-color:#93CAED;
    padding:15px;
    border-radius: 1.1em;
    text-align: center;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1.6em;
    width:200px;
    margin:0px auto;
    overflow:auto;
    box-sizing: border-box;
}

.button:hover {
    text-decoration-line: underline;
    color:green;
    background-color:purple;
}

* {
    
    margin:0;
    box-sizing: border-box;
}

.paragraph {
    color:indigo;
    font-size:2em;
}

.page {
    margin:0 auto;
    width:300px;
    border: 3px dotted black;
    border-top:0;
}

.another_one {
    background-color:magenta;
    font-style:italic;
}

.str {
    font-weight:bold;
}

.str strong {
    font-weight:normal;
}

p:first-of-type{
    color:aqua;
}

p:last-of-type{
    color:cadetblue;
}


